.custom-header {
  display: flex;
  flex-direction: column;
  padding: 13px;
  img {
    width: 200px;

    @media (max-width: 480px) {
      width: 100px;
    }
  }
  span {
    margin: 3px 0%;
    width: 100%;
    height: 1px;
    background: #eee;
    hr {
      border: none;
      position: absolute;
      top: 45px;
      width: 140px;
      background: #60d192;
      height: 6px;
    }
    @media (max-width: 480px) {
      display: none;
    }
  }
  @media (max-width: 480px) {
    align-items: center;
  }
}
